.container{
    max-width: 1224px;
    text-align: center;
    padding: 3rem;
    background-color: #F8F9FA;
}
.container h1{
    font-size: 48px;
    color: #212529;
    font-weight: 700;
}
.container p{
    font-size: 24px;
}
.container a{
    /* background-color: blue; */
    /* color: red; */
}
